@model EADEx1Enums.Models.AzureCloudServices

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

<div>
    <h4>AzureCloudServices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstanceSizeDecription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstanceSizeDecription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumInstances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumInstances)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
